<form action="/expense" method="POST" class="container flex-column d-flex align-items-center">

    <div class="form-group col-md-6">
        <label for="name">名目</label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="form-group col-md-6">
        <label for="date">日期</label>
        <input type="date" class="form-control" id="date" name="date" required>
    </div>

    <div class="form-group">
        <label for="amount">金額</label>
        <input type="number" class="form-control" id="amount" name="amount" required>
    </div>

    <div class="form-group col-md-4">
        <label for="category">類別</label>
        <select id="category" class="form-control" name="category">
            {{#each categories}}
            <option>{{this.name}}</option>
            {{/each}}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">提交</button>
</form>